
<div class="container">
  <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
  <span class="vertical-text-logo">BANK</span>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="#">Personal</a></li>
      <li><a href="#">Privilege</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  

  <div class="container" style="width:400px">
  <div class="panel panel-default">
    <div class="panel-heading"><b>Login to Internet Banking</b></div>
    <div class="panel-body">

    <div *ngIf="errors" class="alert alert-danger"> 
       {{ errors }} 
    </div>

   <!-- <div *ngIf="!loginForm.controls.userid.valid" class="alert alert-danger"> 
       Invalid User Id. 
    </div> -->
      
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)"  >
    <div >
      <div class="input-group" >
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="userid" type="text" class="form-control" name="userid" formControlName="userid" placeholder="User ID"> 
        <div *ngIf="loginForm.get('userid').hasError('maxlength') && loginForm.get('userid').dirty" class="error">
            You have entered an Invalid User ID.
        </div>
        <div *ngIf="loginForm.get('userid').hasError('required') && loginForm.get('userid').dirty" class="error">
            Please enter User ID.
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" formControlName="password" placeholder="Password">       
      </div>
       <input style="margin-left: 1px; margin-top:3px;" type="submit" [disabled]="!loginForm.valid"  class="btn btn-warning" value="LOGIN" />
      <br>
      </div>
  </form>
  </div>
  </div>
</div>


<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><b>Important security information:</b></div>
      <div class="panel-body">
      <span style="font-size: 80%;">
      <ul>
<li>Before logging in, please ensure that the URL address on the address bar of your internet browser starts with https://infinity.icicibank.com.</li>
<li>Never provide your User ID or password to any one on phone or in response to a mail.Report a suspicious mail.</li>
<li>Do not enter login or other sensitive information in any pop up window.</li>
<li>Verify the site's security certificate by clicking on the padlock icon of your internet browser. For more details,click here.</li>
</ul>
</span>
      </div>
    </div>
  </div>

<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><b>Digital Security:</b></div>
      <div class="panel-body">
      <span style="font-size: 80%;">
      https://infinity.ididi.com has been verified by VeriSign. The communication of your private information from any address beginning with "https" is encrypted and secured using SSL.
      </span>
      </div>
    </div>
  </div>
