
<div class="container">
 <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
  <!-- <span class="vertical-text-logo">BANK</span> -->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="accountdetails.html">My Accounts</a></li>
      <li><a routerLink="/payments">Payments & Transfer</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Bank Accounts</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Total Balance</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
          Savings  INR 2,921.60
      </span>
      </div>
    </div>
 </div>

  <div class="container">
  <h3 style="color:rgb(245,130,31);">Your Bank Accounts List</h3>
   <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Available Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="radio" name="option"></td>
        <td>Savings</td>
        <td>9358257169</td>
        <td>65000</td>
      </tr>      
      <tr class="success">
        <td><input type="radio" name="option"></td>
        <td>Current</td>
        <td>41945199514</td>
        <td>10000</td>
      </tr>
      
    </tbody>
  </table>
  <hr>
  <a style="margin-left: 1px;" type="button" routerLink="/bankstatement" class="btn btn-warning">VIEW MINI STATEMENT</a>
  </div>
