
<!-- Header -->
<app-header></app-header>
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Bank Accounts</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Total Balance</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
          Savings  INR {{totalBalance | currency}}
      </span>
      </div>
    </div>
 </div>

  <div class="container">
  <h3 style="color:rgb(245,130,31);">Your Bank Accounts List</h3>
  <form [formGroup]="stmtForm" (ngSubmit)="miniStmt(stmtForm.value)" >
   <table class="table">
    <thead>
      <tr>
        <th>Select</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Available Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accountList;">
        <td><input type="radio" name="option" formControlName="option" value="{{account.accountNo}}" ></td>
        <td>{{account.accountType}}</td>
        <td>{{account.accountNo}}</td>
        <td>INR {{account.balance | currency}} </td>
      </tr>      
      <tr *ngIf="accountList==null || accountList.length==0" class="danger" >
        <td colspan="4" style="text-align: center;" >No data available.</td>
       </tr>     
    </tbody>
  </table>
  <hr>
  
  <button style="margin-left: 1px;" *ngIf="accountList!=null && accountList.length>0" [disabled]="!stmtForm.value.option" type="submit" class="btn btn-warning">VIEW MINI STATEMENT</button>
 </form>
  </div>

<!-- Footer -->
<app-footer></app-footer>