<!-- Header -->
<app-header></app-header>
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Fund Transfer</h3>

    <div class="panel panel-default" *ngIf="errorPaymentMsg==null" >    
      <div class="panel-heading"><b>Your linked ICICI Bank account / Pockets wallet</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
         <table class="fund-transfer-form">
          <tr><td>Beneficiary Type </td><td>NEFT</td></tr>
          <tr><td>Beneficiary Account No. </td><td>{{paymentService.payment.accno}}</td></tr>
          <tr><td>Beneficiary Account Type </td><td>{{paymentService.payment.acctype}}</td></tr>
          <tr><td>IFSC Code </td><td>{{paymentService.payment.ifsc}}</td></tr>
          <tr><td>Beneficiary Name </td><td>{{paymentService.payment.name}}</td></tr>
          <tr><td>Email ID </td><td>{{paymentService.payment.email}}</td></tr>
        </table>
        <button style="margin-left: 35%; margin-top:3px;" type="button" (click)="submitPayment()" class="btn btn-warning">TRANSFER</button>
      </span>
      </div>
    </div>
    <!-- Unable to submit payment -->
    <div class="panel panel-default" *ngIf="errorPaymentMsg!=null" >    
      <div class="panel-body">
      <span style="font-size: 120%;color: red;">
        {{errorPaymentMsg}}
      </span>
      </div>
    </div>

  </div>


<!-- Footer -->
<app-footer></app-footer>