<div class="container">
  <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
  <span class="vertical-text-logo">BANK</span>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="accountdetails.html">My Accounts</a></li>
      <li><a href="transfer.html">Payments & Transfer</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Fund Transfer</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Your linked ICICI Bank account / Pockets wallet</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
         <table class="fund-transfer-form">
          <tr><td>Beneficiary Type </td><td>NEFT</td></tr>
          <tr><td>Beneficiary Account No. </td><td>123456789</td></tr>
          <tr><td>Beneficiary Account Type </td><td>Savings</td></tr>
          <tr><td>IFSC Code </td><td>IDID1212120</td></tr>
          <tr><td>Beneficiary Name </td><td>Vishal</td></tr>
          <tr><td>Email ID </td><td>vkm@gmail</td></tr>
        </table>
        <a style="margin-left: 35%; margin-top:3px;" type="button" href="success.html" class="btn btn-warning">TRANSFER</a>
      </span>
      </div>
    </div>
  </div>
