<!-- Header -->
<app-header></app-header>
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Mini Statement</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Balance Details as on12/11/2017</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
        <table>
          <tr><td>Available Balance </td><td> : </td><td> {{total | currency}} Cr.</td></tr>
          <tr><td>Total Credits </td><td> : </td><td> {{totalCr | currency}} Cr.</td></tr>
          <tr><td>Total Debits </td><td> : </td><td> {{totalDr | currency}} Cr.</td></tr>
          <tr><td>Effective Available Balance </td><td> : </td><td> {{total | currency}} Cr.</td></tr>
        </table>
      </span>
      </div>
    </div>
  </div>

  <div class="container">
   <table class="table">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Transaction Date</th>
        <th>CR/DR</th>
        <th>Amount (INR)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let statement of statementList;let slNo = index;' >
        <td>{{slNo+1}} </td>
        <td>{{statement.transactionDt}}</td>
        <td>{{statement.transactionType}}.</td>
        <td>{{statement.amount | currency}}</td>
      </tr>
      <tr *ngIf="statementList==null || statementList.length==0" class="danger" >
        <td colspan="4" style="text-align: center;" >No data available.</td>
       </tr>   
    </tbody>
  </table>
  <hr>

  </div>

<!-- Footer -->
<app-footer></app-footer>