
<div class="container">
  <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
 <!--  <span class="vertical-text-logo">BANK</span> -->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="/accountdetails">My Accounts</a></li>
      <li><a routerLink="/payments">Payments & Transfer</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Mini Statement</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Balance Details as on12/11/2017</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
        <table>
          <tr><td>Available Balance </td><td> : </td><td> INR 2,921.60Cr.</td></tr>
          <tr><td>Total Credits </td><td> : </td><td> INR 0.00Cr.</td></tr>
          <tr><td>Total Debits </td><td> : </td><td> INR 0.00Cr.</td></tr>
          <tr><td>Effective Available Balance </td><td> : </td><td> INR 2,921.60Cr.</td></tr>
        </table>
      </span>
      </div>
    </div>
  </div>

  <div class="container">
   <table class="table">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Transaction Date</th>
        <th>CR/DR</th>
        <th>Amount (INR)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success">
        <td>1</td>
        <td>10/11/2017</td>
        <td>Cr.</td>
        <td>65000</td>
      </tr>      
      <tr class="info">
        <td>2</td>
        <td>10/11/2017</td>
        <td>Dr.</td>
        <td>1000</td>
      </tr>
      <tr class="success">
        <td>3</td>
        <td>10/11/2017</td>
        <td>Cr.</td>
        <td>80000</td>
      </tr>
      <tr class="info">
        <td>2</td>
        <td>10/11/2017</td>
        <td>Cr.</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>
  <hr>

  </div>
