<div class="container">
  <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
  <!-- <span class="vertical-text-logo">BANK</span> -->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="/accountdetails">My Accounts</a></li>
      <li><a routerLink="/payments">Payments & Transfer</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Fund Transfer</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Your linked ICICI Bank account / Pockets wallet</b></div>
      <div class="panel-body">
      <form [formGroup]="transferForm" (ngSubmit)="transfer(transferForm.value)">
      <span style="font-size: 120%;">      
         <table class="fund-transfer-form">
          <tr><td>Beneficiary Type </td><td>NEFT</td></tr>
          <tr><td>Beneficiary Account No. </td><td><input type="text" name="accno" placeholder="Account No." formControlName="accno"></td></tr>
          <tr><td>Re-enter Beneficiary Account No. </td><td><input type="password" name="reaccno" placeholder="Account No." formControlName="reaccno" ></td></tr>
          <tr><td>Amount </td><td><input type="text" name="amount" placeholder="Amount" formControlName="amount" ></td></tr>
          <tr><td>Beneficiary Account Type </td><td>
            <select formControlName="acctype" name="acctype">
              <option>Savings</option>
              <option>Current</option>
            </select>
          </td></tr>
           <tr><td>State </td><td>
            <select formControlName="state" name="state">
              <option *ngFor ="let state of stateList" >{{state}}</option>
            </select>
          </td></tr>
          <tr><td>IFSC Code </td><td><input type="text" name="ifsc" placeholder="IFSC" formControlName="ifsc" ></td></tr>
          <tr><td>Beneficiary Name </td><td><input type="text" name="name" placeholder="Name" formControlName="name" ></td></tr>
          <tr><td>Email ID </td><td><input type="text" name="email" placeholder="Email" formControlName="email" ></td></tr>
        </table>
        <input type="submit" value="TRANSFER" style="margin-left: 35%; margin-top:3px;" [disabled]="!transferForm.valid" class="btn btn-warning">
      </span>
      </form>
      </div>
    </div>
  </div>
