<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="#">Personal</a></li>
      <li><a href="#">Privilege</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
<img src="./../assets/bank/ididibank.png">
<span class="vertical-text">BANK</span>
<img style="padding-left: 5%" src="./../assets/bank/offer.jpg">
</div>

<div class="container">
  <div class="panel panel-default note-panel">
    <div class="panel-body note-text">NOTICE : <marquee scrollamount="15" class="note-move">On registration of a new payee, funds can now be transferred after 30 minutes. Subsequent transfers to registered payees can be done instantly. Click here.</marquee></div>
  </div>
  <a style="margin-left: 40%" type="button" href="login.html" class="btn btn-warning">CONTINUE TO LOGIN</a>
</div>

<div class="container">
<span style="color:rgb(245,130,31);font-weight: bold">Important Notices:</span><br><br>
 
1) Goods & Services Tax (GST) has been implemented from July 1, 2017. Please click here for iDiDi Bank GST Registration number (GSTIN).
 <br>
<b>2) Pay Goods and Services Tax (GST) through iDiDi Bank, a government authorised bank for GST payments.</b>
<br><br>
<span style="font-size: 70%;font-weight: bold">
Safe Online Banking:
iDiDi Bank will never send you e-mails or call you asking for confidential details of your account/ PIN/ Password/OTP/URN or personal details such as date of birth, mother's maiden name etc. Beware of anyone asking you for such information on behalf of the bank through e-mails or phone calls. Please do not provide your bank account details to emails offering a job or claiming that you have won a lottery or open attachment of mails from unknown email id. While it is our endeavour to provide you with the best of online services and facilities, the Bank is not responsible for any erroneous transactions made by you. The Bank shall also not be responsible for misuse of your account arising from any wrong, inadvertent or other kind of disclosure of such details by you.
<br><br>
iDiDi Bank Safe Online Banking
portal provides convenient personal banking services that can be availed at the comfort of your home or office.
Want to learn about basics of online banking? Visit our Safe Online Banking Knowledge Centre.

</span>
</div>

