<div class="container">
  <a routerLink='/home'><img src="./../assets/bank/ididibank.png"> </a>
<!--   <span class="vertical-text-logo">BANK</span> -->
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid menubar">
    <ul class="nav navbar-nav">
      <li><a href="accountdetails.html">My Accounts</a></li>
      <li><a routerLink="/payments">Payments & Transfer</a></li>
      <li><a href="#">Wealth</a></li>
      <li><a href="#">Private</a></li>
      <li><a href="#">NRI</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Business</a></li>
      <li><input class="nav-search" type="text" name="search"></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>
  
  
<div class="container">
<h3 style="color:rgb(245,130,31);">Fund Transfer</h3>
    <div class="panel panel-default">    
      <div class="panel-heading"><b>Successfully Transfered</b></div>
      <div class="panel-body">
      <span style="font-size: 120%;">
         Transaction Ref. No. : {{transactionId}}
      </span>
      </div>
    </div>
  </div>

  <hr>
